 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Discover the mysterious Isle of Zul'Tiki with classes such as Shaman, Bonder, Blood Drinker, 
                        Enchanter and Paladin.  Use your healing, tanking, and utility prowess to outlast and defeat your enemies.</p>

                    <p>Live off the land and craft powerful armor and weapons that will guide you through 
                            your journey on the isle.</p>

                    <p>Defend the isle against powerful and destructive enemies that will stop at nothing to colonize and destroy. </p>
                </div>
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope"></i> Get Updates
                    </a>
                </div>
            </div>
        </div>
    </section>
